:root {
    --brew: #b79b67;
    --black: #000000;
    --white: #ffffff;
    --offwhite: #F0EFEC;
    --slate: #76736D;
    --lightgray: #aca8a8;

}

body {
    font-family: 'Special Elite', cursive;
}

.navbar-brand {
    font-family: 'Special Elite', cursive;
    font-size: 50px;
    color: var(--brew);
    width: 100%;
    display: flex;
    justify-content: center;
    justify-content: space-around;
    align-items: center;
}


.offcanvas-header{
    color: var(--brew)
}

.navbar-brand {
    font-size: 80px;
    color: var(--brew);
    border-bottom: solid 4px var(--brew);
}

#logoimg {
    size: 150px;
    color: var(--brew);
    border-radius: 100px;
}

#carouselimg {
    width: 100%;
    height: 600px;
}

#searchBrew {
    background-color: var(--black);
}

#searchBrewbtn {
    font-family: 'Special Elite', cursive;
    ;
}

#nearYou {
    font-family: 'Special Elite', cursive;
    font-size: xx-large;
    color: var(--brew)
}

#searchinfo {
    font-family: 'Special Elite', cursive;
    ;
    font-size: 25px;
}

#modal {
    font-family: 'Special Elite', cursive;
    ;
}