:root {
    --brew: #b79b67;
    --black: #000000;
    --white: #ffffff;
    --offwhite: #F0EFEC;
    --slate: #76736D;
    --lightgray: #aca8a8;

}

body{
    font-family: 'Special Elite', cursive;
}

.navbar-brand {
    font-size: 80px;
    color: var(--brew);
}

#logoimg {
    size: 150px;
    color: var(--brew);
}

#carouselimg {
    width: 100%;
    height: 600px;
}

#searchBrew {
    background-color: var(--black);
}

#nearYou {
    font-size: xx-large;
    color: var(--brew);
}

#searchinfo {
    font-size: 25px;
}
 
#tableBrew{
    background-color: var(--black);
}